install
cdrom
text
reboot

zerombr
clearpart --all --initlabel
# CIS 1.5.3, 1.4.1, 5.2.3
bootloader --location=mbr --password=vagrant --append="selinux=1 audit=1"

# Partition the drive
part /boot --fstype=ext4 --size=256 --asprimary
part pv.01 --size=1 --grow

# CIS compliant layout (https://benchmarks.cisecurity.org/downloads/browse/index.cfm?category=benchmarks.os.linux.centos)
volgroup vg0 pv.01 --pesize=4096
logvol swap           --size=1024  --fstype=swap --vgname=vg0 --name=lv_swap
logvol /              --size=10240 --fstype=ext4 --vgname=vg0 --name=lv_root
logvol /home          --size=5120  --fstype=ext4 --vgname=vg0 --name=lv_home      --fsoptions="nodev"                # CIS 1.1.9, 1.1.10
logvol /var           --size=20480 --fstype=ext4 --vgname=vg0 --name=lv_var                                          # CIS 1.1.5
logvol /var/log       --size=512   --fstype=ext4 --vgname=vg0 --name=lv_log                                          # CIS 1.1.7
logvol /var/log/audit --size=512   --fstype=ext4 --vgname=vg0 --name=lv_log_audit                                    # CIS 1.1.8
logvol /tmp           --size=2048  --fstype=ext4 --vgname=vg0 --name=lv_tmp       --fsoptions="nodev,nosuid,noexec"  # CIS 1.1.1 - 1.1.4

keyboard us-acentos
lang en_US
timezone Europe/Amsterdam

skipx
firstboot --disable

network --device=eth0 --onboot=yes --bootproto=dhcp --noipv6 --hostname=vagrant

firewall --enabled --ssh
# CIS 1.4.1, 1.4.2
selinux --enforcing
# CIS 6.3.1
auth --useshadow --passalgo=sha512

services --disabled ip6tables,iscsi,iscsid

rootpw vagrant
user --name=vagrant --password=vagrant

logging --level=info

%packages --nobase --ignoremissing --excludedocs
# Unnecessary firmware
-b43-openfwwf
%end

%post --nochroot
# Enable DNS in the next %post section, so we can use hostnames when downloading stuf
cp /etc/resolv.conf /mnt/sysimage/etc/resolv.conf
%end

%post
# Install the EPEL repository
yum install -y epel-release

# Install Puppet 4
yum install -y https://yum.puppetlabs.com/puppetlabs-release-pc1-el-6.noarch.rpm
yum install -y puppet-agent

# Install dependencies for building the VirtualBox Guest Additions
yum install -y kernel-headers kernel-devel gcc perl

# Install some usefull packages
yum install -y wget man

# Update the system
# CIS 1.2.3
yum update -y

# Enable password less 'sudo' for the vagrant user
cat << EOF > /etc/sudoers.d/vagrant
Defaults:vagrant env_keep += "SSH_AUTH_SOCK"
Defaults:vagrant !requiretty
vagrant ALL=(ALL) NOPASSWD: ALL
EOF
chmod 0440 /etc/sudoers.d/vagrant

%end
